body{
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    margin-top: 200px;
    text-align: center;
    font-size: 50 px;
    color: azure;
    box-shadow: 10px 10px 5px, color( white);

}

h1 {
    margin-bottom: 40px; /* Ajuste a margem inferior conforme necessário */
    border-radius: 50px , black;
    box-shadow: 300px black;
    padding-bottom: 10px; /* Ajuste o espaçamento inferior conforme necessário */
}      
      
h2 {
        padding-top: 5px; /* Ajuste o espaçamento superior conforme necessário */
        margin-top: 100px, black; /* Ajuste a margem superior conforme necessário */

  }